<style>
.b4b {position: -webkit-sticky;position: sticky;top: 0;z-index: 1000;font-size: 14px;}
.text-white { color: #fff!important;}
.text-center {text-align: center!important;}
.p-3 {padding: 1rem 1rem!important;}
.d-block {display: block!important;}
</style>

<div class="d-block p-3 text-center" style="background-color:#563d7c;"><strong>
    <a class="text-white b4b" href="https://fh.do/ms2019-slack">Join our <img style="width: 50px;margin-top:-2px;" src="/2019/assets/images/slack.png" alt="Slack"> channel at https://fh.do/ms2019-slack</a>
    </strong>
    <small><a class="text-white text-normal" href="/2019/privacy_slack/" target="_blank">(GDPR Privacy Statement)</a></small>
</div>
